<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-6">
        <%= f.file_field :avatar %>
      </div>
  </div>
  
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Choose carefully, you won't be able to change this later." %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Please enter your first and last name." %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: "Where do you currently live?" %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio, cols: 4, placeholder: "Tell us about yourself...in 500 characters or less." %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
